<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devicesyncagnt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application android:allowBackup="true" android:label="DeviceSyncAgnt" android:supportsRtl="true">
    </application>
</manifest>